@ca-actual-projects:registry=https://gitlab.x-lab.com.ru/api/v4/projects/110/packages/npm/

//gitlab.x-lab.com.ru/api/v4/packages/npm/:_authToken=glpat-QFdb36iBukXSasQHHGMx

//gitlab.x-lab.com.ru/api/v4/projects/110/packages/npm/:_authToken=glpat-QFdb36iBukXSasQHHGMx